
install/
out/

host-tools
host-tools/

*~
*.swp
*.swo
*.bak
*.rej
.DS_Store

tags
.tags*
cscope.*
ncscope.*
.svim

__pycache__
.vscode

br.log
buildroot-2021.05/dl

uvctest/uvctest
device/milkv-duo-sd/overlay/root/oven_ctl/camera/uvcgrab
